.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-port{
    display: flex;
    justify-content: center;
    
}

#about-portfolio{
    margin-top:4rem;
}

.bio{
    font-size: 2.5rem;
    &-text{
        font-size: 1.5rem;
    }
}