.card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 4rem;
  margin-right: 3rem;
  margin-top: 2rem;
  height: 55vh;
  overflow-y: auto;
  padding: 0 20px;
}


@media screen and (max-width: 1000px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1460px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  background: $secondary-color;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: black;
    background: lighten($secondary-color, 5);
  }
}

.card-title {
  margin-top: 1rem;
  padding: 10px;
}

.card-img {
  font-size: 8rem;
  margin-top: 1rem;
}

.link {
  color: black;
  font-size: 1.5rem;

  &:hover {
    color: black;
  }
}

.card-link {
  padding: 20px;
  margin-top: 1rem;

  &:hover {
    background: $secondary-color;
  }
}

::-webkit-scrollbar {
  width: 10px;
  left: -100px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: darken($text-color, 3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darken($secondary-color, 5);
}