.contact-container {
  margin-right: 4rem;
  height: 60vh;
  margin-top: 2rem;
}

.form {
  border: 6px solid $secondary-color;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  min-width: 560px;
  input[type="text"] ,textarea {
    padding: 5px;
    font-size: 20px;
  }

  #button-container {
    align-self: center;
    position: relative;
  }

  #submit {
    border: none;
    background: $secondary-color;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    padding: 20px 100px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

    &:hover {
      background: darken($secondary-color, 4);
      // animation: pop 1s linear;
    }
  }

  #after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $secondary-color;
    border: none;
    z-index: -1;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin: 1r;
    transform: scale(1);
    padding: 20px 100px;

    &:hover {
      background: red;
    }
  }

  label {
    font-size: 25px;
  }
}

.popup {
  animation: popon 0.3s linear;
}

@keyframes popon {
  from {
    transform: scale(1);
    opacity: 100;
  }

  to {
    transform: scale(2);
    opacity: 0;
  }
}

.spinner{
  background: $secondary-color;
  position: absolute;
  color: black;
  justify-content: center;
  align-items: center;
  padding:100px;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}