.contact-container {
  margin-right: 4rem;
  height: 40vh;
  margin-top: 2rem;
}

.form {
  border: 2px solid $secondary-color;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;


  input[type="text"] {
    padding: 5px;
    font-size: 20px;
  }

  input[type="submit"] {
    align-self: center;
    border: none;
    background: $secondary-color;
    padding: 10px 20px;
    margin-top: 1rem;
  }

}