.contact-container {
  margin-right: 4rem;
  height: 60vh;
  margin-top: 2rem;
}

.form {
  border: 6px solid $secondary-color;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  min-width: 560px;
  input[type="text"] ,textarea {
    padding: 5px;
    font-size: 20px;
  }

  #button-container {
    align-self: center;
    position: relative;
  }

  #submit {
    border: none;
    background: $secondary-color;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 20px 100px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    color:black;

    &:hover {
      background: darken($secondary-color, 4);
    }

    &:disabled{
      background: darken($secondary-color,20);
      cursor: not-allowed;
    }
  }

  

  #after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $secondary-color;
    border: none;
    z-index: -1;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin: 1r;
    transform: scale(1);
    padding: 20px 100px;
    
    &:hover {
      background: red;
    }
  }

  label {
    font-size: 25px;
  }
}

.popup {
  animation: popon 0.3s linear;
}

@keyframes popon {
  from {
    transform: scale(1);
    opacity: 100;
  }

  to {
    transform: scale(2);
    opacity: 0;
  }
}

.spinner{
  --radius: 50px;
  background: $secondary-color;
  position: absolute;
  color: black;
  justify-content: center;
  align-items: center;
  padding:var(--radius);
  left: calc(50% - var(--radius));
  top: calc(50% - var(--radius));
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.63); 
  div{
    background: transparent;
    padding:70px;
    border-radius: 50%;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top:-10px;
      left: -10px;
      border-radius: 50%;
      padding: 70px;
      border: 10px solid transparent;
      border-top-color: $primary-color;
      border-bottom-color: $primary-color;
      animation: spinny 1s linear infinite;
    }
  }
}

@keyframes spinny {
  0%{
    transform: rotate(0deg) scale(0.3);
  }
  50%{
    transform: rotate(180deg) scale(1); 
  }
  100%{
    transform: rotate(360deg) scale(0.3);
  }
}