.main-menu {
  z-index: 99;
  position: fixed;
  opacity: 0.95;
  visibility: hidden;
  display: grid;
  top: 0;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: darken($primary-color, 10);
  transform: translate3d(0, 100%, 0);
  transition: all ease-out 0.2s;
  &.show {
    transform: translate3d(0, 0, 0);
  }
}

.portfolio-image {
  z-index: 10;
  background: url("../img/portfolio-image.jpeg");
  background-size: cover;
  background-position: 30px;
  border: 0.5rem solid $secondary-color;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.row2 {
  background: darken($primary-color, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, -100%, 0);
  transition: all ease-out 0.2s;
  &.show {
    transform: translate3d(0, 0, 0);
  }
}

.row2 > ul {
  list-style: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 6rem;
  transform: translate3d(100%, 0, 0);
  transition: all ease-out 0.3s;
  &.show {
    transform: translate3d(0, 0, 0);
  }
}

.row2 > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
}

.current {
  color: $secondary-color;
}
